* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url(../img/logo_pro_vida2.png);
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: linear-gradient(90deg,
      rgb(161, 207, 175) 30%,
      rgb(140, 180, 209) 100%);
  padding: 1px 1%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
}

li a {
  text-shadow: 3px 3px 3px gray;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-right: 25px;
}

li a:hover {
  color: rgb(117, 116, 116);
}

.container {
  height: 100vh;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
}



h1 {

  font-size: 30px;
  display: flex;
  justify-content: last baseline;
}

img {
  width: 100px;
  height: 100px;
  display: flex;
  box-sizing: border-box;
  justify-self: flex-start;

}

h2 {
  .meie-script-regular {
    font-family: "Meie Script", cursive;
    font-weight: 400;
    font-style: normal;
  }



}

.container4 {
  filter: drop-shadow(5px 5px 6px rgb(80, 85, 85));
  width: 110px;
  height: 90px;
}

.sobrenos {
  text-align: center;
  text-shadow: 3px 3px 3px rgb(27, 102, 27);
}
.teste2 {
  text-align: center;
  text-shadow: 3px 3px 3px rgb(75, 112, 160)
}

/* servicos*/
.img_sevicos {
  display: flex;
  justify-items: center;
  height: 270px;
  width: 390px;
}

.card {
  margin: 20px;
  width: 400px;
  height: 500px;
  border: 5px solid black;
  display: inline-block;
}

.utima {
  align-items: flex-end;
  justify-content: space-around;
}

/*    

carrossel                        */



h5 {
  color: white;
  background-color: black;
  font-style: italic;
  font-size: 50px;

}


style {
  background-color: rgb(7, 5, 5);
}




/*                                            Footer */
footer {
  background-color: #5bccd9;
}

footer .container-footer {
  display: flex;
  color: white;
}

footer .container-footer ul {
  width: 25%;
}

footer .container-footer h3 {
  margin-bottom: 16px;
  font-weight: 600;
  color: black
}

footer .container-footer .redes-sociais img {
  margin-right: 10px;
  width: 100px;
}

footer .container-footer ul>p {
  margin-bottom: 30px;
}

footer .container-footer li {
  margin: 10px 0;
  display: block;
}

footer .container-footer a {
  color: white;
}